.home-page {
  background: rgba(202, 255, 215, 0.22);
  color: gray;
  //background-image: url("../../imgs/college-students.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px -70px;

  .welcome-section {
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #e8bebe;
    height: 540px;

    .welcome-big {
      margin: auto;
      width: auto;
      font-size: 220%;
      font-weight: 700;
      padding-left: 5%;
      padding-right: 5%;
      background-color: rgba(0, 209, 0, 0.33);
      border-radius: 10px;
    }
    .institutes {
      font-size: 150%;
      font-weight: 500;
      margin-left: 50%;
    }

    .borders {

      &.up-borders {
        position: absolute;
        border-top: 3px solid gray;
        border-right: 3px solid gray;
        width: 5%;
        margin-left: 82%;
        height: 25%;
      }

      &.down-borders {
        border-bottom: 3px solid gray;
        border-left: 3px solid gray;
        margin-top: 4%;
        width: 5%;
        margin-left: 8%;
        height: 45px;
      }
    }
    .search-something {
      .search-input-group {
        margin-top: 5%;
      }
    }

  }




}

