<nav class="wizer-nav navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand wizer-logo" href="/">Wizer</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" href="#/">Profile</a>-->
                <!--<a class="nav-link profile-link" ng-href="#/profile/{{$rootScope.loggedUser._id}}" ng-if="isLogged">Profile</a>-->
                <a class="nav-link profile-link" ng-show="isLoggedIn()">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link session-link" href="/sessions/" ng-show="isLoggedIn()">Session</a>
            </li>

        </ul>
        <div class="nav-link login" data-toggle="modal" data-target="#loginModal"
             style="cursor: pointer" ng-show="!isLoggedIn()">
            Log In
            <div class="underlined"></div>
        </div>
        <div class="nav-link login" data-toggle="modal"
             style="cursor: pointer" ng-show="isLoggedIn()">
            <div class="logout-activator" ng-click="logout()">Log Out</div>
            <div class="underlined"></div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--<div id="loginModal" class="modal fade" role="dialog" ng-controller="navController">-->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="container modal-container">


                <!--<a class="google-btn" href="/auth/google">Google+</a>-->
                <!--<a class="facebook-btn" href="/auth/facebook">facebook</a>-->

                <!--<a class="google-btn" ng-click="googleLogin()">Google</a>-->
                <!--<a class="google-btn" ng-href="/auth/google">Google</a>-->
                <!--<a class="facebook-btn" ng-click="facebookLogin()">Facebook</a>-->
                <!--<a class="facebook-btn" ng-href="/auth/facebook">Facebook</a>-->

                <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->


                <form class="form-horizontal" role="form" name="signupform" ng-show="!isLoggedIn()">
                    <div class="sign-up">Sign up</div>
                    <br>
                    <!--<div class="row">-->
                    <div class="name-div row">
                        <div class="text col-3">First name:</div>

                        <input class="col-5" type="text" name="fname" ng-model="user.fname" required>
                        <div class="col-4" ng-show="signupform.fname.$error.required">Required!</div>
                        <div class="col-4" ng-show="!signupform.fname.$error.required"></div>

                        <div class="text col-3">Last name:</div>
                        <input class="col-5" type="text" name="lname" ng-model="user.lname" required>
                        <div class="col-4" ng-show="!signupform.lname.$error.required"></div>
                        <div class="col-4" ng-show="signupform.lname.$error.required">Required!</div>


                    </div>
                    <div class="email-div row">
                        <div class="text col-3">Email:</div>
                        <input class="col-5" type="email" name="email" ng-model="user.email" required>
                        <div class="col-4"
                             ng-show="!signupform.email.$error.required && !signupform.email.$error.email"></div>
                        <div class="col-4" ng-show="signupform.email.$error.required">Required!</div>
                        <div class="col-4" ng-show="signupform.email.$error.email">Invalid Email</div>
                    </div>

                    <div class="pass-div">
                        <div class="pass-first row">
                            <div class="text col-3">Password:</div>
                            <input class="col-5" type="password" name="password" ng-model="user.password" required
                                   ng-minlength="6">
                            <div class="col-4" ng-show="signupform.password.$error.required">Required!</div>
                            <div class="col-4" ng-show="signupform.password.$error.minlength">At least 6 characters!</div>
                            <div class="col-4"
                                 ng-show="!signupform.password.$error.minlength && !signupform.password.$error.required"></div>
                        </div>

                        <div class="confrm-pass row">
                            <div class="text col-3">Confirm password:</div>
                            <input class="col-5" type="password" name="password_cnfrm" ng-model="user.password_cnfrm"
                                   required>
                            <div class="col-4" ng-show="signupform.password_cnfrm.$error.required">Required!</div>
                            <div class="col-4" ng-show="!signupform.password_cnfrm.$error.required && user.password != user.password_cnfrm">
                                Wrong password!
                            </div>
                            <div class="col-4" ng-show="user.password == user.password_cnfrm"></div>

                        </div>

                    </div>

                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle dropdown-header"
                                type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Role
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <div class="dropdown-item" ng-click="roleChoose('student')">Student</div>
                            <div class="dropdown-item" ng-click="roleChoose('teacher')">Teacher</div>
                        </div>
                    </div>
                    <div ng-if="!user.role">Must choose a role!</div>
                    <br>

                    <button ng-disabled="!user.role" ng-click="signup()">SIGN UP</button>

                    <!--</div>-->
                </form>


                <form name="loginform" ng-show="!isLoggedIn()">

                    <br><br>
                    <div class="or-text">OR</div>
                    <br><br>

                    <!--<div class="row">-->
                    <div class="sign-up">Log in</div>
                    <br>

                    <div class="email-div row">
                        <div class="text col-3">Email:</div>
                        <input class="col-5" type="email" name="email" ng-model="user.email" required>
                        <div class="col-4"
                             ng-show="!loginform.email.$error.required && !loginform.email.$error.email"></div>
                        <div class="col-4" ng-show="loginform.email.$error.required">Required!</div>
                        <div class="col-4" ng-show="loginform.email.$error.email">Invalid Email</div>
                    </div>

                    <div class="pass-div row">
                        <div class="text col-3">Password:</div>
                        <input class="col-5" type="password" name="password" ng-model="user.password" required
                               ng-minlength="6">
                        <div class="col-4" ng-show="loginform.password.$error.required">Required!</div>
                        <div class="col-4" ng-show="loginform.password.$error.minlength">At least 6 characters!</div>
                        <div class="col-4"
                             ng-show="!loginform.password.$error.required && !loginform.password.$error.email"></div>
                    </div>


                    <!--</div>-->
                    <button class="btn btn-default" ng-click="login()">LOG IN</button>
                    <br><br>

                </form>

                <!--<div class="logout-btn-div">-->
                    <!--<button ng-if="isLogged" class="btn btn-default" ng-click="logout()">Log Out</button>-->
                <!--</div>-->


                <!--<div class="facebook-signin" ng-if="!isLogged">-->
                <!--<button type="button fb-btn" class="btn btn-primary login-button"><i-->
                <!--class="fa fa-facebook-square"></i>Log in with Facebook-->
                <!--</button>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Log in with Facebook</button>&ndash;&gt;-->
                <!--</div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>