<div class="home-page">
    <!--Home page-->

    <div class="container">
        <form class="form-horizontal" role="form" name="queryform">
            <div class="sign-up">Query by age</div>
            <br>
            <!--<div class="row">-->
            <div class="name-div row">
                <div class="text col-3">Age:</div>

                <input class="col-5" type="text" name="age" ng-model="entry.age">

            </div>

            <button ng-disabled="!entry.age" ng-click="searchByAge()">Search</button>

            <!--</div>-->
        </form>


        <form class="form-horizontal" role="form" name="queryform">
            <div class="sign-up">Query by gender</div>
            <br>
            <!--<div class="row">-->
            <div class="name-div row">
                <div class="text col-3">Gender (M/F):</div>

                <input class="col-5" type="text" name="age" ng-model="entry.gender">

            </div>

            <button ng-disabled="!entry.age" ng-click="searchByGender()">Search</button>

            <!--</div>-->
        </form>
    </div>


</div>

