<div class="session-page">

    <div class="container not-connected" ng-show="!isConnectedToSession">


        <div class="session-header display-4">Connect to a new session!</div>
        <div class="row">
            <div class="pad col-2"></div>
            <form class="input-group col-8">
                <input type="text" ng-model="sessionID" class="form-control" placeholder="#" aria-label=""
                       aria-describedby="basic-addon1">
                <input type="text" ng-model="sessionUserName" class="form-control" placeholder="Anon" aria-label=""
                       aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" ng-click="connectSession()">Connect!</button>
                </div>
            </form>
            <div class="pad col-2"></div>
        </div>
        <div class="not-found-session text-danger" ng-hide="firstConnectionTry">
            Error connecting to session!
        </div>

    </div>

    <div class="container-fluid connected-container" ng-show="isConnectedToSession">



        <div class="row">

            <div class="col-6 session-vid" ng-if="isConnectedToSession">
                <video class="video-div" controls
                       ng-src="http://localhost:3000/sessions/getVideo?sid={{sessionID}}&token={{getToken()}}">
                </video>
            </div>
            <div class="col-6 session-info">

                <div class="card bs-card">
                    <h1 class="card-header bg-dark">
                        {{session.name}}
                    </h1>
                    <div class="card-body">
                        <h4 class="card-title bs-card-text">Teacher ID: {{session.teacher_id}}</h4>
                        <p class="card-text bs-card-text">Location: {{session.location}}</p>
                        <p class="card-text bs-card-text">{{session.students.length}} students connected</p>
                    </div>
                </div>

            </div>


        </div>

        <form>
            <div class="form-group row">
                <label for="inputMessage" class="col-sm-1 col-form-label">Enter message</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="message.body" id="inputMessage" placeholder="">
                </div>

                <div class="form-group col-sm-3">

                    <div class="dropdown btn-group col-sm-6">
                        <button class="btn btn-secondary dropdown-toggle msg-type-dropdown-header"
                                type="button" id="dropdownMsg" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <div class="dropdown-item" ng-click="typeChoose('question')">Question</div>
                            <div class="dropdown-item" ng-click="typeChoose('answer')">Answer</div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary" ng-click="sendMessage()">Send</button>
                    </div>
                </div>
            </div>

        </form>

        <div id="msg-cnt" class="messages-container">

            <!--<div ng-repeat="message in sessionMessages" class="row">-->
            <!--&lt;!&ndash;{{message}}&ndash;&gt;-->
            <!--<div class="col-4 message-type">{{message.type.charAt(0).toUpperCase() + message.type.slice(1)}}</div>-->
            <!--&lt;!&ndash;<div class="col-2 message-sender">{{message.email}}</div>&ndash;&gt;-->
            <!--<div class="col-8 message-content-quote" ng-if="message.body[0].length == 0"></div>-->
            <!--<div class="col-8 message-content-quote" ng-if="message.body[0].length != 0">{{message.body[0]}}</div>-->
            <!--<div class="col-4 message-fix-place"></div>-->
            <!--<div class="col-8 message-content">{{message.body[1]}}</div>-->
            <!--</div>-->

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Rating</th>
                    <th>Question / Answer</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="messages-table-body">
                <tr ng-repeat="msg in sessionMessages | reverse">
                    <td scope="row">{{msg.rating}}</td>
                    <td>{{msg.type.charAt(0).toUpperCase() + msg.type.slice(1)}}</td>
                    <td>
                        <div class="col-8 message-content-quote" ng-if="msg.body[0].length == 0"></div>
                        <div class="col-8 message-content-quote" ng-if="msg.body[0].length != 0">{{msg.body[0]}}</div>
                        <div class="col-4 message-fix-place"></div>
                        <div class="message-text col-8">{{msg.body[1]}}</div>
                        <div class="col-4 message-fix-place"></div>
                    </td>
                    <td class="">
                        <div class="message-content">

                            <button type="button" class="btn btn-outline-success msg-num-like-{{$index}}" ng-click="rateMessage(msg.sid, msg._id, 1)">Like</button>
                            <button type="button" class="btn btn-outline-danger msg-num-hate-{{$index}}" ng-click="rateMessage(msg.sid, msg._id, 0)">Hate</button>
                            <!--<button type="button" class="btn btn-outline-dark float-right" ng-click="assignReply(msg)">-->
                            <button type="button" class="btn btn-outline-dark"
                                    ng-click="message.replyTo = msg.type.charAt(0).toUpperCase() + msg.type.slice(1) + ': ' + msg.body[1]">

                                Reply</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>




    </div>


</div>